launch.json
tasks.json
MovieLibrary.deps.json
bin/Debug/netcoreapp3.1/MovieLibrary.dll
bin/Debug/netcoreapp3.1/MovieLibrary.exe
bin/Debug/netcoreapp3.1/MovieLibrary.pdb
bin/Debug/netcoreapp3.1/MovieLibrary.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/MovieLibrary.runtimeconfig.json
bin/Debug/netcoreapp3.1/NLog.dll
bin/Debug/netcoreapp3.1/NLog.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/NLog.Web.AspNetCore.dll
obj/MovieLibrary.csproj.nuget.dgspec.json
obj/MovieLibrary.csproj.nuget.g.props
obj/MovieLibrary.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/MovieLibrary.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/MovieLibrary.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/MovieLibrary.assets.cache
obj/Debug/netcoreapp3.1/MovieLibrary.csproj.CopyComplete
obj/Debug/netcoreapp3.1/MovieLibrary.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/MovieLibrary.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/MovieLibrary.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/MovieLibrary.dll
obj/Debug/netcoreapp3.1/MovieLibrary.exe
obj/Debug/netcoreapp3.1/MovieLibrary.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/MovieLibrary.pdb
obj/NewMovieLibrary.csproj.nuget.dgspec.json
obj/NewMovieLibrary.csproj.nuget.g.props
obj/NewMovieLibrary.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/NewMovieLibrary.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/NewMovieLibrary.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/NewMovieLibrary.assets.cache
obj/Debug/netcoreapp3.1/NewMovieLibrary.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/NewMovieLibrary.deps.json
bin/Debug/netcoreapp3.1/NewMovieLibrary.dll
bin/Debug/netcoreapp3.1/NewMovieLibrary.exe
bin/Debug/netcoreapp3.1/NewMovieLibrary.pdb
bin/Debug/netcoreapp3.1/NewMovieLibrary.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/NewMovieLibrary.runtimeconfig.json
obj/Debug/netcoreapp3.1/NewMovieLibrary.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/NewMovieLibrary.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/NewMovieLibrary.dll
obj/Debug/netcoreapp3.1/NewMovieLibrary.exe
obj/Debug/netcoreapp3.1/NewMovieLibrary.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/NewMovieLibrary.pdb
